#
# IGNORE
#

__pycache__

.venv
.poetry
.coverage

.ruff_cache
.pytest_cache

.python-version

.vscode/*
**/reports

dist

*.bkp
*Zone.Identifier

#
# IGNORE EXCEPTIONS
#

!.vscode/launch.json
!.vscode/settings.json
