#
# IGNORE
#

__pycache__

.venv
.poetry
.coverage

.ruff_cache
.pytest_cache

.vscode/*
**/reports

dist

*.bkp
*Zone.Identifier

.infrastructure/docker/volumes

#
# IGNORE EXCEPTIONS
#

!.vscode/launch.json
!.vscode/settings.json
